* {
    margin: 0;
    padding: 0;
}

/* header section style  */
.container {
    height: 100vh;
    background-color: #E554731A;
    display: flex;
    justify-content: center;
    gap: 65px;

}

.title {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #272727;
}

.section-1-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35%;
}

.section-1-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: small;
    padding: 28px 0;
}

.all-btn {
    border: none;
    color: #fff;
    padding: 16px 37px;
    display: inline-flex;
    border-radius: 8px;
    background-color: #E55473;
}

.head-flower {
    height: 92vh;
    width: 34vw;
    margin-top: 46px;
}


/* Featured section  */

.featured {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 80px 0 20px 0;
}

.featured-title {
    font-family: Lato;
    color: #272727;

}

.featured-p {
    font-size: smaller;
    padding: 28px 0;
    color: rgba(39, 39, 39, 0.60);
}

.window {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.window-1 {
    width: 345px;
    height: 403px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.window-img-1 {
    position: absolute;
    bottom: 0px;
    height: 315px;
    width: 230px;
}

.window-1>a {
    position: absolute;
    bottom: -50px;
    text-decoration: none;
    color: #272727;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

.window-2 {
    width: 345px;
    height: 403px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.window-img-2 {
    position: absolute;
    bottom: 0px;
    height: 315px;
    width: 230px;
}

.window-2>a {
    position: absolute;
    bottom: -50px;
    text-decoration: none;
    color: #272727;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

.window-3 {
    width: 345px;
    height: 403px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.window-img-3 {
    position: absolute;
    bottom: 0px;
    height: 315px;
    width: 230px;
}

.window-3>a {
    position: absolute;
    bottom: -50px;
    text-decoration: none;
    color: #272727;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}


/* offer section  */


.offer {
    height: 72vh;
    background-color: #E554731A;
    margin-top: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78px;
}

.offer-title {
    color: #272727;
}

.off {
    color: red;
}

.offer-txt {
    text-align: center;
}

.offer-p {
    padding: 28px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: small;
}

.offer-img {
    height: 295px;
}

/* Instagram section  */

.insta {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 80px 0 20px 0;
}

.insta-title {
    font-family: Lato;
    color: #272727;

}

.insta-p {
    font-size: smaller;
    padding: 28px 0;
    color: rgba(39, 39, 39, 0.60);
}

.insta-div {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 23px;
}

.insta-img {
    height: 250px;
}

/* subscribe section  */


.deals {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("/Flower Asset/Rectangle\ 9.png"); */
    background-image: url("/Flower Asset/Rectangle 9.png");
    background-size: cover;
    height: 50vh;
    width: 73vw;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 3px;
}

.sub {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 80px 0 20px 0;
}

.sub-title {
    font-family: Lato;
    color: #272727;
    font-weight: bold;

}

.sub-p {
    font-size: smaller;
    padding: 15px 0;
    color: rgba(39, 39, 39, 0.60);
}

.form {
    display: flex;
    gap: 15px;
}

.inp {
    padding: 0 12vw;
    border: none;
    border-radius: 5px;
}

/* footer section */

.foot {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 80px 0 20px 0;
}

.foot-title {
    font-family: Lato;
    color: #272727;
    font-weight: bold;

}

.foot-p {
    font-size: smaller;
    padding: 15px 0;
    color: #FFFFFFE5;
}

.foot {
    background-color: black;
    color: #FFFFFFE5;
    height: 50vh;
}

.Flower {
    color: #E55473;
}

.Shop {
    color: white;
}